body, html {
  margin: 0;
  padding: 0;
}

#main-content {
  padding: 20px;
}

.sites {
    margin: 10px;
}

#round-logo {
  margin-right: 20px;
  width: 30px;
}

#title {
  margin: 30px;
}

.official {
    float: right;
}

.btn-sites {
    margin: 10px;
}
.btn-sites .button{
    margin: 10px;
}

.fb-plugin {
  margin: 20px;
}

discussion {
    float: left;
    width: 100%;
}

#discussion_title{
    font-size: 38px;
    margin-left: 20px;
    margin-top: 10px;
}

.mdl-layout__header {
  background-color: #029B6C !important;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   margin-top:10px;
   width: 95% !important;
   margin-left: 10px;
   padding-right: 5%;
   margin-bottom: 30px;

}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #000;
}

.demo-card-wide.mdl-card {
  width: 30%;
  margin: 10px;
  float: left;
}

.demo-card-wide > .mdl-card__title {
  opacity: 0.8;
  color: #000;
  height: 176px;
}

.demo-card-wide > .mdl-card__title h2{
  background-color: #333;
  color: #FFF;
  padding: 5px;
}

.mdl-layout__drawer-button i {
  margin-top: 10px;
}

.mdl-card__supporting-text {
  height: 122px;
  overflow: hidden;
}

.mdl-mini-footer {
  padding: 20px 16px !important;
}

.share-btn {
  color: #333;
}

.demo-card-wide > .mdl-card__title:hover {
  opacity: 1;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/assert/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    background-position: center;
    opacity: 0.6;
    filter:alpha(opacity=60);
    z-index:-10;
}
footer {
  position:absolute;
  bottom:0;
  width: 100%;
}

/* mobile phone */
@media all and (max-width: 650px) {
  .demo-card-wide.mdl-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_msg {
    display: none
  }
  footer {
    height: 60px;
  }
}
