<html>
  <head>
    {{> header}}
    <link rel="stylesheet" href="css/index.css" type="text/css" media="all" />
  </head>
  <body>
    {{> start}}
        <div class="ui basic main segment">
          <div class="ui head basic segment">
            <h1 class="ui header">台灣進出口國家排名</h1>
          </div>

          <div class="ui stackable two column grid">
            <div class="column">
              <div class="fb-like-box" data-href="https://www.facebook.com/taiwanstat?fref=ts" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
            </div>
            <div class="column">
              <div class="fb-like" data-href="http://long.taiwanstat.com/trade/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div><br>

          <div class="note">
            <ul>
                <li class="data-src">資料來源：<a href="http://statdb.dgbas.gov.tw/pxweb/Dialog/varval.asp?ma=CT0209A1M&ti=%B6i%A5X%A4f%B6T%A9%F6%AD%C8-%A5D%ADn%B0%EA%AEa%A6a%B0%CF%A7O-%A4%EB&path=../PXfile/InternationalTrade/&lang=9&strList=L">中華民國統計資訊網</a>
                </li>
                <li>出超：即貿易順差，出口額大於進口額</li>
                <li>入超：即貿易逆差，進口額大於出口額</li>
            </ul>
          </div><br><br>

          <div class="control panels">
            <div class="year control panel">
              <div class="ui year control selection dropdown">
                <input type="hidden" class="value">
                <div class="default text"> </div>
                <i class="dropdown icon"></i>
                <div class="menu"></div>
              </div>
              年
            </div>

            <div class="month control panel">
              <div class="ui months control selection dropdown">
                <input type="hidden" class="value">
                <div class="default text"> </div>
                <i class="dropdown icon"></i>
                <div class="menu"></div>
              </div>
              月
            </div>

            <div class="sort control panel">
              <div class="ui sort control selection dropdown">
                <input type="hidden" class="value" value="importe">
                <div class="default text"> </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" data-value="import">依進口值</div>
                  <div class="item" data-value="export">依出口值</div>
                  <div class="item" data-value="importe">依入超</div>
                  <div class="item" data-value="exporte">依出超</div>
                </div>
              </div>
              排序
            </div>

          </div><br>

          <div class="ui country compact cards"></div>

        </div>
    {{> end}}
    <script src="js/index.js"></script>
    {{> footer}}

  </body>
</html>
