<!DOCTYPE html>
<head>
  {{> head}}
 	<link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
  {{> header}}
  {{> start}}
 	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="本年度預算數收入">
 		<label>本年度預算數收入</label>
 	</button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
 	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="本年度預算數支出">
 		<label>本年度預算數支出</label>
 	</button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
 	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="上年度預算數收入">
 		<label>上年度預算數收入</label>
 	</button>
 	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="上年度預算數支出">
 		<label>上年度預算數支出</label>
 	</button>
 	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="本年度與上年度比較收入">
 		<label>本年度與上年度比較收入</label>
 	</button>
 	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="本年度與上年度比較支出">
 		<label>本年度與上年度比較支出</label>
 	</button>
 	<h3 id"mode_p">現在顯示: <span id="mode">本年度預算數收入</span> </h3>

  	<div id="container">
	  	<div id="chart"> </div>
	  	<div id="barChart"> </div>
	</div>
  {{> end}}
    <!-- my js & css -->
 	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="./zhutil.min.js"></script>
    <script type="text/javascript" src="./chart.js" charset="UTF-8"></script>
  {{> footer}}
</body>
