<!DOCTYPE html>
<head>
  {{> header}}
    <!-- my js & css -->
    <link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
  {{> start}}
  	<div id="chart"> </div> 
  	<div id="info_box"> </div> 
   	<script type="text/javascript" src="./chart.js" charset="UTF-8"></script>  
   {{> end}}
    <!-- my js & css -->
  {{> footer}}
</body>
