<!DOCTYPE html>
<head>
  {{> header}}
    <link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
  {{> start}}
  	<div id="container"> 
  		<select id="options" onchange="specifyYear(this)"> 
  			<option value="集中市場股票交易-總成交值">集中市場-總成交值</option>
  			<option value="集中市場股票交易-成交量(十億股)">集中市場-成交量</option>
  			<option value="集中市場股票交易-日平均值(十億元)">集中市場-日平均值</option>
  			<option value="集中市場股票交易-交易日數(日)">集中市場-交易日數</option>
  			<option value="集中市場股票交易-交易所股價指數(月平均)(指數)">集中市場-交易所股價指數</option>
  			<option value="集中市場股票交易-交易人數(人)">集中市場-交易人數(人)</option>
  		</select>	
 	  	<div id="chart"> </div> 
  		<div id="info_box"> </div> 
  	</div>
   	<script type="text/javascript" src="./chart.js" charset="UTF-8"></script>
  {{> end}}
    <!-- my js & css -->
  {{> footer}}
</body>
