body {
  background-color:#EEEEEE;
  /*font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei';*/
}

.main.segment {
  max-width:1400px;
  margin: 0px auto;
  font-family: "Yu Gothic", SimHei;
}

.head.segment {
  text-align: left;
}

.main.segment .ui.header {
  font-family: "Yu Gothic", SimHei;
}

.control.panels {
  max-width:800px;
  min-height:50px;
  margin: 0px auto;
  text-align: center;
}

.control.panel {
  max-width:300px;
  min-height:50px;
  display:inline-block;
}

.control.button {
  float:left;
  margin-top:5px;
  margin-left:20px;
  margin-right:20px;
}

.control.statistic {
  float:left;
  max-width:250px!important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
