<!DOCTYPE html>
<head>
  {{> head}}
	<link rel="stylesheet" href="./style.css" type="text/css" />   
</head>
<body>
  {{> header}}
  {{> start}}
   	<div id="container"> 
   		<div id="graph"> </div> 
   		<div id="chart"> </div>  
   	</div> 
  {{> end}}
   	 <script type="text/javascript" src="./chart.js" charset="UTF-8"></script>
      <script src="http://d3js.org/topojson.v1.min.js"></script>
    <!-- my js & css -->
  {{> footer}}
</body>
