<!DOCTYPE html>
<head>
    {{> head}}
    <!-- my js & css -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <link rel=stylesheet type="text/css" href="style.css">
    <link rel="stylesheet" href="d3-tip.css">
    <script type="text/javascript" src="js/d3-tip.js"></script>
</head>
<body>
  {{> header}}
    {{> start}}
    <!-- my charts -->
    <div id="content">

    </div>
    {{> end}}
    <!-- my js & css -->
    <script src="js/chart.js"></script>
    {{> footer}}
</body>
