<!DOCTYPE html>
<head>
  {{> head}}
    <link rel="stylesheet" href="./style.css" type="text/css" /> 
</head>
<body>
  {{> header}}
  {{> start}}
  	<div id="container"> 
	  	<div id="chart"> </div> 
	  	<div id="info_box"> </div> 
	</div> 
  {{> end}}
    <script type="text/javascript" src="./chart.js" charset="UTF-8"> </script> 
    <!-- my js & css -->
  {{> footer}}
</body>
