.xAxis { 
	fill: none; 
	stroke: #000;
	stroke-width: 1px; 
	shape-rendering: crispEdges;
}

.yAxis { 
	fill: none; 
	stroke: #000;
	stroke-width: 1px; 
	shape-rendering: crispEdges;
}

#chart { 
	float: left; 
}

#info_box { 
	float: left; 
}

.area_mask { 
	opacity: 0;
	z-index: 100000;
}

.title { 
	font: 24px Arial;
}

.dataText { 
	font: 20px Helvetica;
}