.info_p{
    font-size: 2em;
}
.x_g{
    fill:none;
	stroke:#000;
}
.y_g{
    fill:none;
	stroke:#000;
}
.rect{
    fill:#66A;
}
.x_text{
    text-anchor:middle;
}
.dropdown{
    height:40px;
}
.bar_0{
    fill:#2ca02c;
}
.bar_1{
    fill:#d62728
}
.bar_2{
    fill:#9467bd
}
.bar_3{
    fill:#8c564b
}
.bar_4{
    fill:#e377c2
}
.bar_5{
    fill:#7f7f7f
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
