@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);



.axis {
    font: 12 sans-serif;
}

p {
    font: 1vw 'Noto Sans TC', sans-serif;
    margin: 0 0 2px 0;
    padding: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #373C38;
    /* shape-rendering:crispEdges; */
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

/* body {
    overflow-y: scroll;
    overflow-x: hidden;
} */

.flex-container-cover {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
}


#topic {
    font-size: 18;
    line-height: 4vh;
    text-align: center;
    margin-bottom: 3%;
}

#source {
    font-size: 9;
    line-height: 4vh;
    text-align: center;
}

.desc {
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.cover .body1 {
    height: 120vh;
}

[class^=“body”] {
    height: 80vh;
}

#population {
    margin-left: 16%;
    width:80%;
    height:550;
}

.subh2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18;
    font-weight: border;
}

#subh2_0 {
    width: 70%;
    line-height: 4vh;
    margin-left: 18%;
    font-size: 18;
}

#subh3_2 {
    width: 70%;
    line-height: 4vh;
    margin-left: 18%;
    font-size: 18;
}

#subh2 {
    width: auto;
    height: 40;
    margin-top: 2%;
    margin-left: 18%;
}

#subh2_1 {
    width: 80vw;
    height: 5vh;
    line-height: 1vh;
    margin-top: 2%;
    margin-left: 18%;
}

#subh2_2 {
    margin-top: 2%;
    margin-left: 18%;
}

#ex1 {
    width: 70%;
    height: auto;
    line-height: 4vh;
    margin-left: 18%;
    font-size: 14;
}

#ex2 {
    font-size: 14;
}

#stack-chart {
    position: relative;
    margin-left: 18%;
    width: 80%;
    height:450;
    float: left;
    min-width:300px;
    max-width:960px;
    max-height:500px;
}

.flex-container-donut {
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
}
.flex-container-dream {
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
}
.subh3 {
    font-family: 'Noto Sans TC', sans-serif;
    fill: black;
    font-size: 18;
    font-weight: border;
}

#subh3 {
    width: 580;
    height: auto;
    margin-left: 19%;
}

#aboriginal {
    width: 580;
    height: auto;
    margin-left: 19%;
}

#religion {
    width: 450;
    height: 30vh;
    line-height: 7vh;
    margin-top: 7%;
    margin-left: 5%;
}

.highlight {
    background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #FFF176 90%, transparent 95%);
    padding: 0.4vw 0.1vh;
}

#donut_threek {
    position: relative;
    margin-left: 18%;
    width: 80%;
    height:450;
    float: left;
    min-width:300px;
    max-width:960px;
    max-height:500px;
}

#threek {
    position: relative;
    width: 80%;
    height: 450;
    margin-left: 18%;
    min-width:300px;
    max-width:960px;
    max-height:500px;
}

#donut_care {
    position: relative;
    width: 80%;
    height: 450;
    margin-left: 18%;
    min-width:300px;
    max-width:960px;
    max-height:500px;
}

#linechart {
    position: relative;
    width: 80%;
    height: 400;
    margin-left: 18%;
    min-width:300px;
    max-width:960px;
    max-height:500px;
}

#block {
    text-align: center;
    stroke: rgba(78, 52, 104, 0.93);
}
#method {
    font-family: 'Noto Sans TC', sans-serif;
    color: gray;
    font-weight:400;
}
@media only screen and  (max-width: 768px) {
    .axis {
        font: 7 sans-serif;
    }
    #topic {
        width:70%;
        margin-left:18%;
        font-weight:400;
        font-size:16;
    }
    #population {
        margin-left: 5%;
    }
    .flex-container-donut {
        display: flex;
        flex-direction: column-reverse;
    }
    .flex-container-dream {
        display: flex;
        flex-direction: column;
    }
    #method{
        margin-left: 18%;
        margin-top: 0;
    }
    #stack-chart{
        width:100%;
        margin-left: 5%;
    }
    #donut_threek{
        width:100%;
        margin-left: 5%;
    }
    #threek {
        width:100%;
        margin-left: 5%;
    }
    #donut_care{
        width:100%;
        margin-left: 5%;
    }
    #subh2_0 {
        font-weight:400;
        font-size:16;
    }
    #subh3_2{
        font-weight:400;
        font-size:16;
    }
    #linechart{
        width:100%;
        margin-left: 5%;
    }
    .country {
        font-size: 20;
    }
    #religion {
        width: 70%;
        height: auto;
        line-height: 4vh;
        margin-left: 21%;
        margin-top:0;
    }
    #subh2_2{
        margin-left: 0;
    }
    #subh2{
        margin-left: 15%;
    }

}
