.jobdiv{
	height:70px;
}
.gcircles circle{
	opacity: 0.9;
}
.selected circle{
	stroke-width:5px;
	stroke:black;
	opacity: 1;
}
.gtext{
	text-anchor:middle;
	opacity: 0.5;
}
.selected text{
	opacity: 1;
	font-size: 20px;
	font-weight: bold;
}
.checkbox{
	display: inline-block;
}
.colorinfo circle{
	opacity: 0.9;
}
.colorinfo text{
	fill:black;
}
.sort_info text{
	opacity: 0.5;
}
.selected .sort_info text{
		font-size: 17px;
}
.sort_info rect{
	width:100px;
	height:100px;
	fill: #AAA;
	opacity: 0.2;
}
