<html>
  <head>
    {{> header}}
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <script src="js/d3-tip.js"></script>
    <script src="js/visual.js" type="text/javascript"></script> 
    {{> start}}
        <div class="ui basic main segment">
          <div class="ui head basic segment">
            <h2 class="ui header">時間</h2>
          </div>
          <div class="control panels">
            <div class="year control panel">
              <div class="ui compact icon year control left button">
                <i class="year caret left icon"></i>
              </div>
              <div class="ui tiny year control teal progress">
                <div class="bar"></div>
                <div class="year label"></div>
              </div>
              <div class="ui compact icon year right control button">
                <i class="year caret right icon"></i>
              </div>
            </div>

            <div class="month control panel">
              <div class="ui compact icon month control left button">
                <i class="month caret left icon"></i>
              </div>
              <div class="ui tiny month control teal progress">
                <div class="bar"></div>
                <div class="month label"></div>
              </div>
              <div class="ui compact icon month control right button">
                <i class="month caret right icon"></i>
              </div>
            </div>
          </div>

          <br>

          <div class="ui stackable two column grid">
            <div class="column">
              <table class="ui stackable  celled striped table">
                <thead>
                  <tr><th colspan="2">
                    較去年同月漲幅前五類別
                  </th>
                </tr></thead><tbody>
                  <tr>
                    <td class="left aligned upType1 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal red statistic">
                        <div class="upType1 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="upType2 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal red statistic">
                        <div class="upType2 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="upType3 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal red statistic">
                        <div class="upType3 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="upType4 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal red statistic">
                        <div class="upType4 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="upType5 name"></td>
                    <td class="right aligned"><div class="ui small horizontal red statistic">
                        <div class="upType5 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="column">
              <table class="ui stackable  celled striped table">
                <thead>
                  <tr><th colspan="2">
                    較去年同月跌幅前五類別
                  </th>
                </tr></thead><tbody>
                  <tr>
                    <td class="left aligned downType1 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal green statistic">
                        <div class="downType1 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="downType2 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal green statistic">
                        <div class="downType2 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="downType3 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal green statistic">
                        <div class="downType3 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="downType4 name"></td>
                    <td class="right aligned">
                      <div class="ui small horizontal green statistic">
                        <div class="downType4 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="downType5 name"></td>
                    <td class="right aligned"><div class="ui small horizontal green statistic">
                        <div class="downType5 value"></div>
                        <div class="label">
                          %
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br>
          <div class="ui segment">
            <div class="ui head basic segment">
              <h2 class="ui header">各類別數值與漲跌關係圖</h2>
              <div class="ui switch checkbox">
                <input type="checkbox" checked="checked">
                <label>簡易版</label>
              </div>
            </div>
            <div class="plot"></div>
            <div class="ui basic intro segment">
              *紅色方格: 一起漲、綠色方格:一起跌 <br>
              *建議以電腦版瀏覽
            </div>
          </div>

        </div>
    {{> end}}

    <script src="./script.js" type="text/javascript"></script>
    {{> footer}}
  </body>

</html>
