#button {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -65px;
  width: 65px;
  z-index: 10;
}

#button .mdl-button{
  margin: 5px;
}

#map {
  width: 95vw;
  width: 95%;
  height: 600px;
  height: 100vh;
  margin: auto;
}

.leaflet-popup-content {
  width: 200px;
}
