circle{
    opacity:0.8;
    cursor:auto;

}
.d3-tip{
    z-index:100;
}
.node:hover{
    stroke:red;
    stroke-width:2px;
}
.node:hover circle{
    opacity:1;
}
.chart svg{
    cursor:row-resize;
}
.xAxis path{
    fill:none;
    stroke:#000;
}
.yAxis{
    fill:none;
    stroke:#000;
}
