<!DOCTYPE html>
<head>
    {{> header}}
    <!-- my js & css -->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
    <script type="text/javascript" src="js/d3-tip.js"></script>
</head>
<body>
    {{> start}}
    <!-- my charts -->
    <div class = "ui grid">
        <div class = "ui eleven wide column chart">

        </div>
        <div class = "ui five wide column">

        </div>
    </div>
    {{> end}}
    <!-- my js & css -->
    <script type="text/javascript" src="js/index.js"></script>
    {{> footer}}
</body>
