<!DOCTYPE html>
<head>
    {{> head}}
    <!-- my js & css -->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="http://rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
    <script type="text/javascript" src="js/d3-tip.js"></script>
</head>
<body>
  {{> header}}
    {{> start}}
    <!-- my charts -->
    <div class = "ui grid stackable">
        <div class = "ui row message">
            <ul>
                <li>
                    資料來源：
                    <a href="http://rdc28.cwb.gov.tw/TDB/ntdb/pageControl/ty_warning">
                        颱風資料庫
                    </a>
                </li>
                <li>
                    外圈為7級風的半徑
                </li>
                <li>
                    內圈為10級風的半徑
                </li>
                <li>
                    圖表可利用滾輪放大縮小
                </li>
            </ul>
        </div>
        <div class = "ui eleven wide column chart">

        </div>
        <div class = "ui five wide column grid">
            <div class = "ui row rRule" >

            </div>
            <div class = "ui row colorRule">

            </div>
        </div>
    </div>
    {{> end}}
    <!-- my js & css -->
    <script type="text/javascript" src="js/index.js"></script>
    {{> footer}}
</body>
