<html>
  <head>
    {{> head}}
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/c3.css">
  </head>
  <body>
  {{> header}}
    {{> start}}
      <p id = "data_source">數據出處:
        <a href = "http://data.gov.tw/node/6640" target="_blank">人力資源調查縣市別失業率</a>,
        <a href = "http://data.gov.tw/node/6798" target="_blank">人力資源調查失業人數</a>,
        <a href = "http://data.gov.tw/node/6637" target="_blank">人力資源調查失業率</a>
      </p>
        <br><br>

        <!-- instructions -->
        <div class="ui grid">
        <div class="ui icon message">
        <div class="ui three column  stackable grid">


          <div class = "column">
            <i class="star icon"></i>
            <div class="content">
              <div class="header">
                長條時間軸線
              </div>
              <li>
                點擊年份觀看各年數據
              </li>
              <li>
              年份背景色象徵各年總失業率
              </li>
              <li>
                點擊播放動畫觀看台灣近20年失業率變化
              </li>
            </div>
          </div>

          <div class = "column">
            <i class="star icon"></i>
            <div class="content">
              <div class="header">
                地圖及圓餅圖
              </div>
              <li>
                鼠標移至各縣市上觀看各縣市失業率
              </li>
              <li>
                鼠標移至圓餅圖上觀看各群組失業人數
              </li>
              <li>
                點擊圓餅圖的各群組備註可隱藏/顯示群組資料
              </li>
            </div>
          </div>

          <div class = "column">
            <i class="star icon"></i>
            <div class="content">
              <div class="header">
                長線圖
              </div>
              <li>
                在長線圖上可使用鼠標滑輪放大/縮小圖表
              </li>
              <li>
                點擊長線圖的各群組備註可隱藏/顯示群組資料
              </li>
              <li>
                鼠標移至長線圖的各群組備註可加重顯示群組資料
              </li>
            </div>
          </div>
        </div>
        </div>
        </div>
        <br>
        <br>



        <div class = "ui stackable grid">

          <div class="sixteen wide column">
            <div class="ui black buttons button_role"> </div>
          </div>

          <div class="right floated left aligned five wide column">
            <div class="ui primary button" id ="play_button" style = "font-size: 23px" ><i class="play icon"></i>播放數據動畫</div>
          </div>

          <div class="seven wide column">
           <h1><div id="curr_year" style = "font-size: 35px"></div></h1>
          </div>

          <div class="eleven wide column">
            <h2>
              <span id = "total_pop_unemployed"></span>&nbsp;
              <span id = "total_unemployment_rate"></span>
            </h2>
          </div>
          <br>


          <div class="map eight wide column">
            <div class = "tw_map_svg"></div>
          </div>

          <div class="eight wide column">
            <div class="ui stackable grid">
              <div class="row" style="padding-bottom: 0px;">
                <div class = "pie_chart1 eight wide column">
                  <h3>性別圓餅圖</h3>
                  <div id="pie_chart1"></div>
                </div>
                <div class = "eight wide column pie_chart3">
                  <h3>學歷圓餅圖</h3>
                  <div id="pie_chart3"></div>
                </div>
              </div>
              <div class = "pie_chart2 thirteen wide column" style="padding: 0px;">
                <h3>年齡圓餅圖</h3>
                <div id="pie_chart2"></div>
              </div>
             </div>
          </div>


          <!-- line chart section -->
          <div class="sixteen wide column">
            <div id="line_chart"></div>
          </div>

          <div class="five wide column ">
            <div class = "ui yellow button" id="transform_bar">切換成長條圖顯示</div>
          </div>
          <div class="eight wide column last">
            <div class = "ui green button" id="gender_button">隱藏性別資料</div>
            <div class = "ui green button" id="age_button">隱藏年齡資料</div>
            <div class = " center floated ui green button" id="education_button">隱藏學歷資料</div>
          </div>

        </div>
    {{> end}}

    <script src="https://d3js.org/topojson.v1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>

    <!-- my script -->
    <script src="./js/index.js"></script>
    <script src="./js/c3.min.js"></script>
    {{> footer}}

  </body>

</html>


