<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
  <head>
    {{> head}}
    <!-- my js & css -->
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css.css">
    <link rel="stylesheet" type="text/css" href="./googlemap.css">
    <link rel="stylesheet" type="text/css" href=" https://fonts.googleapis.com/earlyaccess/notosanstc.css">
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    {{> header}}
    {{> start}}
    <!-- my charts -->
    <div class="chart">
        <div class="text title">看病路遙遙</div>
        <div style="color:#949292;" class="text second-title">-淺談台灣醫療資源不均問題-</div>
        <HR color="#C9C9C9" size="20" align="right">


        <p class="second-title">【各縣市病床與醫師數量】</p>
        <p style="color:#797979;">【點選地圖以查看數量】</p>
        <div class="blockt">
        <p>通常，在探討醫療資源差異問題時，會先討論病床數和醫事人員數<br>
        根據衛福部統計資料，令人意外的是花蓮縣居然位列前三<br>
        而新北市卻成為醫療資源不足地區</p>
        </div>
        <div class="text block b1">
            <div id="map1"></div>
            <div class="data text">
                <button type="button" class="btn btn-outline-info text" >病床數</button>
                <button type="button" class="btn btn-outline-info text" >醫事人數</button>
                <div  id="countyname">臺北市 </div>
                <div  id="population">人口數量 : 2695704人</div>
                <div  id="doctor">醫師數量 : 9719人</div>
                <div  id="serve">每位醫生服務人數</div><div class="text important" id="servenum">277.36人</div>
                <div  id="rank">排名(由資源多到少)</div><div class="text important" id="ranknum">1/22</div>
            </div>
        </div>
        <div class="blockt t2">
        <p>根據以上數據，以下整理出資源最多及最少的各三個縣市</p>
        </div>
        <div class="block b2">
            <table class="text">
                <thead>
                <tr>
                    <th colspan="3" >【擁有最多資源之縣市排名】</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>    </td>
                    <td><strong>醫事人員</strong></td>
                    <td><strong>病床</strong></td>
                </tr>
                <tbody>
                <tr>
                    <td>第一名</td>
                    <td>台北市</td>
                    <td>嘉義市</td>
                </tr>
                <tr>
                    <td>第二名</td>
                    <td>嘉義市</td>
                    <td>花蓮縣</td>
                </tr>
                <tr>
                    <td>第三名</td>
                    <td>花蓮縣</td>
                    <td>宜蘭縣</td>
                </tr>
                </tbody>
            </table>
            <table class="text">
                <thead>
                <tr>
                    <th colspan="3" >【擁有最少資源之縣市排名】</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>    </td>
                    <td><strong>醫事人員</strong></td>
                    <td><strong>病床</strong></td>
                </tr>
                <tbody>
                <tr>
                    <td>倒數第一</td>
                    <td>金門縣</td>
                    <td>金門縣</td>
                </tr>
                <tr>
                    <td>倒數第二</td>
                    <td>新竹縣</td>
                    <td>屏東縣</td>
                </tr>
                <tr>
                    <td>倒數第三</td>
                    <td>苗栗縣</td>
                    <td>新北市</td>
                </tr>
                </tbody>
            </table>
         </div>
         <div class="blockt">
           <p>
                <br><br><br>綜合以上衛福部統計資料，嘉義市醫療資源最充足<br>
                讓人意外的是因為人口數少的關係，第二名居然是花蓮縣。<br>
                另外，以平均病床數來看，新北市竟成了醫療資源不足地區<br><br>
                對此，高雄市衛生局表示，醫療資源是否足夠，<br>
                <strong style="color:#F75353;">除了從病床數、醫事人員數 判定之外<br>
                當地醫療層級多寡、醫療可近性等因素也該列入評估<br> </strong>
                其他縣市衛生局表示，醫療資源也存在區域內部分布不平均問題<br>
           </p>
        </div>
        <br><br>
        <p class="second-title">【台灣各地區各醫療層級數量】</p>
        <p style="color:#797979;">【點選按鈕以查看數量】</p>
        <div class="text block b3">
            <div class="left">
                <button type="button" class="btn btn-outline-danger text" value="1" >醫學中心</button>
                <div class="detail">具有研究、教學訓練、精密診斷、高度醫療等多種功能外，還負有輔導、
                    協助區域內其他醫療機構的責任，並且需通過設有醫學中心數量限制的醫院評鑑</div>
                <button type="button" class="btn btn-outline-warning text" value="2">區域醫院</button>
                <div class="detail">應具教學醫院功能，建立健全住院醫生訓練制度，並培育專科醫生和地區醫院所需人力。</div>
                <button type="button" class="btn btn-outline-success text" value="3">地區醫院</button>
                <div class="detail">提供一般專科門診及住院服務。急性一般病床需20床以上，且急性一般病床與急性精神病床合計99床（含）以下。</div>
                <button type="button" class="btn btn-outline-info text" value="4">醫院</button>
                <div class="detail">未經評鑑之醫院</div>
                <button type="button" class="btn btn-outline-primary text" value="5">診所</button>
            </div>
            <div class="bar"></div>
        </div>

        <div class="blockt t3">
            <p>
                從醫療院所數量來看，區域醫院及醫學中心等大型院所都集中在西部城市地區<br>
                宣稱醫療資源不足的新北市，各類醫療院所數量都名列前茅<br>
                反觀東部及離島的醫院數量則明顯少了許多<br>
            </p>
        </div>
        <p class="second-title">【大型醫療院所位置分布圖】</p>
        <p style="color:#797979;">【覆蓋圖標查看醫院名稱】</p>
        <div class="text block b3">
            <div id="googleMap"></div>
            <div class="t4"><br>進一步將醫學中心及區域醫院位置標示出來<br>
            發現這些大型院所大多集中在都市地區，縣市內部也出現了分布不均的情況<br>
            以花蓮為例，醫療院所幾乎都分布在花蓮市區，花蓮南部的民眾就醫就極為不便<br>
            反觀台北市，醫療院所分布密度高，民眾就醫時間和偏鄉形成極大差距<br>
            </div>
        </div>
        <div class="blockt">
            <p>
                <br><br>
                醫療資源分配不均的問題已存在在台灣非常久了<br>
                而如何平均分配醫療資源，仍是現今政府所面臨的重要課題。
                <br>
                <br>
                資料來源：中華民國醫師公會全國聯合會
            </p>
        </div>

        <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzoCKZdIHgsaWE-wzgT3JXRCdK4OuMnxQ&amp;callback"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="https://d3js.org/topojson.v1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="./COUNTY_MOI_1060525.json"></script>
        <script type="text/javascript" src="./pratice.js"></script>
        <script type="text/javascript" src="./Hospital.js"></script>
        <script type="text/javascript" src="./map_position.js"></script>
    </div>
    {{> end}}
    <!-- my js & css -->
    {{> footer}}

  </body>
</html>
