<!DOCTYPE html>
<head>
    {{> header}}
    <!-- my js & css -->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
    {{> start}}
    <div class="ui vertical segment message">
        <ul>
            <li>
                資料來源：
                <a href="http://www.stat.gov.tw/ct.asp?xItem=15428&CtNode=3638&mp=4">中華民國統計資訊網</a>
            </li>
            <li>
                圖表內可使用滾輪放大
            </li>
        </ul>

    </div>
    <div class = "ui vertical segment">
        <button class = "ui button" value="所有醫事人員">所有醫事人員</button>
        <button class = "ui button" value="各科醫師">各科醫師</button>
    </div>
    <div class = "ui vertical segment stackable grid">
        <div id = "chart" class="ui twelve wide column">

        </div>
        <div id = "info_box" class="ui four wide column">

        </div>
    </div>
    {{> end}}
    <!-- my js & css -->
    <script type="text/javascript" src="js/index.js"></script>
    {{> footer}}
</body>
