<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
  <head>
    {{> head}}
    <!-- my js & css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body>
    {{> header}}
    {{> start}}
    <!-- my charts -->
    <div class="chart">

    </div>
    {{> end}}
    <!-- my js & css -->
    {{> footer}}
    <script type="text/javascript" src="./js/index.js"></script>
  </body>
</html>
