<!DOCTYPE html>
<head>
  {{> head}}
  	<link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
  {{> header}}
  {{> start}}
    <ul>
      <li>
        資料來源：<a href="http://data.gov.tw/">政府資訊開放平台</a>
      </li>
      <li>
        單位：人／平方公里
      </li>
    </ul>

 		<div id="container">
 			<select id="options">
 				<option value="新北市"> 新北市 </option>
        <option value="臺北市"> 臺北市 </option>
 				<option value="臺中市"> 臺中市 </option>
 				<option value="臺南市"> 臺南市 </option>
 				<option value="高雄市"> 高雄市 </option>
 				<option value="宜蘭縣"> 宜蘭縣 </option>
 				<option value="桃園縣"> 桃園縣 </option>
 				<option value="新竹縣"> 新竹縣 </option>
 				<option value="苗栗縣"> 苗栗縣 </option>
 				<option value="彰化縣"> 彰化縣 </option>
 				<option value="南投縣"> 南投縣 </option>
 				<option value="雲林縣"> 雲林縣 </option>
 				<option value="嘉義縣"> 嘉義縣 </option>
 				<option value="屏東縣"> 屏東縣 </option>
 				<option value="臺東縣"> 臺東縣 </option>
 				<option value="花蓮縣"> 花蓮縣 </option>
 				<option value="澎湖縣"> 澎湖縣 </option>
 				<option value="基隆市"> 基隆市 </option>
 				<option value="新竹市"> 新竹市 </option>
 				<option value="嘉義市"> 嘉義市 </option>
 				<option value="金門縣"> 金門縣 </option>
 			</select>
      <label id="order"><input type="checkbox">排序</label>
  			<div id="graph"> </div>
  			<div id="chart"> </div>
  		</div>
  {{> end}}
		<script src="https://d3js.org/topojson.v1.min.js"></script>
    	<script type="text/javascript" src="./chart.js" charset="UTF-8"></script>
    <!-- my js & css -->
  {{> footer}}
</body>
