#graph { 
	float: left; 
	width: 460px; 
	height: 700px; 
}

#chart { 
	float: left; 
	width: 600px; 
	height: 500px;
}

.xAxis { 
	fill: none; 
	stroke-width: 1px; 
	stroke: #000; 
	shape-rendering: crispEdges;
}

.yAxis { 
	fill: none; 
	stroke-width: 1px; 
	stroke: #000; 
	shape-rendering: crispEdges;
}

#order { 
	margin-left: 20px;
}
