<!DOCTYPE html>
<head>
  {{> header}}
    <link rel="stylesheet" href="./style.css" type="css/text" />
</head>
<body>
  {{> start}}
    <div id="chart"> </div> 
    <script type="text/javascript" src="./chart.js" charset="UTF-8"> </script> 
  {{> end}}
  
  {{> footer}}
</body>
