<!DOCTYPE html>
<head>
  {{> head}}
    <link rel="stylesheet" href="./style.css" type="css/text" />
</head>
<body>
  {{> header}}
  {{> start}}
  	<input type="radio" name="mode" value"stacked" checked> Stacked 
  	<input type="radio" name="mode" value"grouped"> Grouped 
    <div id="chart"> </div> 
  {{> end}}
    <script src="./d3-tip.js"></script>
    <script type="text/javascript" src="./chart.js" charset="UTF-8"> </script> 
  
  {{> footer}}
</body>
