
/*general*/
.data_container{
    margin-left: 15px;
    margin-right: 15px;
}

.year_button {
    background-color: rgb(251, 201, 127);
    padding: 3px;
    margin: 2px;
    font-size: 17px;
}

#play_button{
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}

.ui.button.year_button{
    font-size: 17px;
    padding-left: 7px;
    padding-right: 8px;
}


/*tw map*/
.tw_map_svg{
    float: left;
}
.rank_text{
    font-size: 20px;
}


/*pie charts*/
.pie_chart_section{
    width: 100%;
    margin-right: 10px;
}

.pie_chart1{
    float: left;
    margin-left: 10px;
}
.pie_chart2{
    float: left;
}
.pie_chart3{
    
    float: right;
    margin-top: 70px;
    margin-right: 5px;

}


/*line charts*/
.line_chart_section{
    float: left;
    margin-bottom: 100px;
}

.line_chart_options{

    margin-top: 8px;
    margin-left: 30px;
}




.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 20px;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}






