<!DOCTYPE html>
<head>
  {{> header}}
    <!-- my js & css -->
    <link rel="stylesheet" href="./style.css" type="text/css" />
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<body>
  {{> start}}
    <h4 id="tab-title"></h4>
    <div class="btn-group">
      <button class="mdl-button mdl-js-button mdl-button--raised" id="102-crop">
        102 年中小企業家數
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised" id="103-crop">
        103 年中小企業家數
      </button>
    </div>
    <div id="chart"> </div>
    <div id="info_box">
      <h3 id="title-corp">請移到圖表中看資訊</h3>
      <ul>
        <li>
          <h5>中小企業家數：<span id="sm-count">請移到圖表中看資訊</span></h5>
        </li>
        <li>
          <h5>大企業家數： <span id="l-count">請移到圖表中看資訊</span></h5>
        </li>
        <li>
          <h5>總企業家數：<span id="all-count">請移到圖表中看資訊</span></h5>
        </li>
        <div id="pie-chart">
        </div>
      </ul>
    </div>

    <script type="text/javascript" src="./chart.js" charset="UTF-8"></script>

   {{> end}}
    <!-- my js & css -->
  {{> footer}}
</body>
