.x text{
	transform: rotate(70deg);
	y: 15;
	text-anchor: start !important;
	z-index: 100;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect {
	opacity: 0.8;
}

#chart {
	float: left;
}

#info_box {
	width: 400px;
	float: left;
}

li {
	height: 50px;
}

li span {
	color: blue;
	font-size: 20px;
}

.btn-group {
	margin: 20px;
}

.btn-group button {
	margin: 10px;
}
