<!DOCTYPE html>
<head>
  {{> head}}
</head>
<body>
  {{>header}}
  {{> start}}
    <!-- my charts -->
    <svg id="chart" >
        
    </svg>
    {{> end}}
    <!-- my js & css -->
     <script src="chart.js"></script>
     <style>

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>
  {{> footer}}
</body>
